root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.kt,*.kts}]
ij_kotlin_import_nested_classes = false
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ij_kotlin_name_count_to_use_star_import = 200000000
ij_kotlin_name_count_to_use_star_import_for_members = 2000000000
ij_kotlin_parameter_annotation_wrap = off
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false
ij_kotlin_packages_to_use_import_on_demand = io.ktor.**
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_code_style = intellij_idea
ktlint_standard_discouraged-comment-location = disabled

[{*.markdown,*.md}]
ij_wrap_on_typing = true
